{% extends "SupremeApp/Base.html" %}
{% load static %}
{% block content %}

<div class="container" style="padding:10px ; padding-top: 50px;">
    <div style="float: right;">
        {% include "Store/Car/CarWidget.html" %}
    </div>

    <div class="row" style="min-width: 400px;">
        {% for Product in Products %}
        <div class="col-md-3">
            <div class="card" style="background-color: rgba(44, 69, 4, 0.185); margin: 10px; box-shadow: 5px 4px 10px rgba(5, 120, 3, 0.438); border-style:ridge; border-color: rgb(9, 50, 3);">
                <img src="{{Product.Image.url}}" style="height: 200px; background: rgba(0, 107, 201, 0); align-self: center; margin: 7px; padding: 5px;" class="card-img-top img-fluid">
                <div class="card-body" style="text-align: center; padding: 10px;">
                    <h7 class="card-title" style="font-size:large; color: aliceblue;font-family:fantasy;">{{Product.Name}}</h7>
                    <p class="card-text">{{Product.Price}}&nbsp;$</p>
                    <button  class="card-footer text-center " style="width: 100%; display: flex;justify-content: center;text-align: center;">
                        <a href="{% url 'ShoppingCart:AddProduct' Product.id %}" class="btn btn-success" style="width: 100%;">Add</a>
                        
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
