{% extends "SupremeApp/Base.html" %}
{% load static %}
{%block content%}

    {% for Post in Posts %}
        <section class="page-section clearfix">
            <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ Post.Image.url }}" alt="">
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4" >
                    <span class="section-heading-upper">{{ Post.Title }}</span>
                    <span class="section-heading-lower">{{ Post.Content }}</span>
                </h2>
                <p class="mb-3">{{Post.Author }}
                </p>
                
                </div>
            </div>
            </div>
        </section>
    {% endfor %}


{% endblock %}